.game-field-wrapper {
    max-width: 700px;
    min-width: 256px;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    border-style: solid;
    border-color: blueviolet transparent;

}

.hand-button-wrapper {
    padding: 5px;
    margin: 35px 0;
    border-color: rgba(137, 43, 226, 0.219);
    border-style: solid;
    border-radius: 10%;
}

.hands {
    font-size: 40px;
}